.bground {
  max-width: 700px;
  margin: auto;
  background: #FFCDB2;
  padding: 10px;
  padding-bottom: 50px;
}

body {
  background: #FFB4A2;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.centre2 > *{
  width:100%;
  padding:5px;
}

.hidden {
  display:none;
}

.box {
  background: #B5838D;
  padding: 10px;
  margin-bottom: 10px;
}
